.gameScreen {
  background-color: #0a1953;
  width: 100%;
  position: fixed;
  height: 100%;
}
.gameScreen__heading__ls {
  font-weight: 600;
  font-size: 30px;
  margin: 15px 0px;
  color: white;
}
.gameScreen__heading__ms {
  font-size: 20px;
  margin: 5px 0px;
  color: white;
}
.gameScreen__heading__ss {
  font-size: 15px;
  margin: 20px 0px;
  color: white;
}
.center {
  text-align: center;
}
